$green: #00b7af;
$orange: #ffce46;
$violet: #6a53dc;

$duration: 0.55s;

//Цвета
$blue: #56ddfd;
$dark-blue: #26586b;
$black: #000000;
$white: #ffffff;
$second-color: rgb(176, 28, 154);

// breakpoints
$phone: 320px;
$phoneSix: 375px;
$phonePlus: 414px;
$phoneLandscape: 480px;
$tablet: 768px;
$tablet-width: 980px;
$tabletHeight: 700px;
$tabletLandscape: 1024px;
$desktop: 1280px;
$desktopMid: 1400px;
$desktopBig: 1600px;
$desktopWide: 1920px;
